.main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #fff1ff;
    min-height: 600px;


    &__section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        padding-left: 100px;

        &--title {
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
    }

    &__section2 {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding-top: 30px;
        padding-right: 100px;

        &--title {
            font-size: 20px;
            font-weight: 700;
            color: black;
        }
    }

            .li {
                &__article {
                    margin-top: 10px;

                    &--title {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }

                    &--img {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
}

.selected {
    background-color:black;
    color: #00e8ff;
    padding: 10px;
}

.hidden {
    display: none;
}